body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

.main{
    background-color: rgb(115, 223, 13);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
    box-shadow: rgb(26, 91, 3) 0px 30px 20px -10px;
    border-radius: 20px;
}

h1{
    margin: 0;
}

p{
    font-size: 20px;
    color: black;
}

input{
    width: 120px;
    font-size: 20px;
    height: 50px;
    outline: none;
    border: none;
    text-align: center;
    box-shadow: rgb(53, 104, 6) 0px 2px 10px;
    border-radius: 10px;
}

button{
    padding: 10px;
    font-size: 16px;
    color: white;
    outline: none;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
    background-color: rgb(42, 108, 208);
    box-shadow: rgb(53, 104, 6) 0px 2px 10px;
    border-radius: 10px;
}

#guess{
    padding: 12px;
   margin-left: 13px;
}

#guess:hover{
    background-color:rgb(3, 63, 243) ;
}

#replay{
    font-size: 16px;
    background-color: black;
}

#replay:hover{
    background-color:rgb(155, 7, 7) ;
}

#result{
    color: gold;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    display: block;
    text-align: center;
    width: 330px;
}

#chance{
    width: 120.3px;
    display: block;
    top: 4px;
    left: 52px;
    position: relative;
    padding-top: 5px;
    border: 2px solid white;
    background-color: white;
    color: black;
    box-shadow: rgb(53, 104, 6) 0px 2px 10px;
    border-radius: 10px;
}